recursive-include doc/source *.rst
recursive-include test *.py
recursive-include examples *.py

include doc/Makefile
include doc/source/conf.py
include LICENSE.md
include MANIFEST.in
include README.md
